<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> </meta>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> </link>
    <script type="text/javascript" src="js/chat.js"></script>
    <link rel="stylesheet" href="css/chat.css"></link>
</head>

<body onload="disconnect()">
    <div class="container">
        <div class="menu">
            <div class="text2right">
                <input class="itt" type="text" id="from" placeholder=" Choose a nickname" />
            </div>
            <button id="connect" onclick="connect();">Connect</button>
            <button id="disconnect" disabled="true" onclick="disconnect();">
                Disconnect
            </button>
        </div>
        <div class="textmessage">
            <div class="text2right">
                <input type="text" class="itt" id="text" onkeypress="enterScript(event)" placeholder=" Write a message!" />
            </div>
            <button id="sendMessage" onclick="sendMessage();">Send</button>
            <div id="conversationDiv" class="message">
                <p id="response"></p>
            </div>
        </div>
    </div>

</body>

</html>