<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> </meta>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet"/>
    <link rel="stylesheet" href="css/error.css"/>

</head>

<body>
    <div class="text-wrapper">
        <div class="title" data-content="404">
            Oops... something went wrong.
        </div>
        <div class="subtitle">
            You have no files in your media folder or you don't have a media folder at all :(
        </div>
        <div class="buttons">
            <a class="button" href="../">Go to homepage</a>
        </div>
    </div>
</body>

</html>