<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error Page</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> </meta>
    <link rel="stylesheet" href="css/error.css"/>
</head>

<body style="min-width:590px;">
<div class="text-wrapper">
    <div class="title" data-content="404">
        Oops... something went very wrong.
    </div>
    <div class="subtitle" th:text="${'We encountered a ' + status + ' ' + error}">
    </div>
</div>
</body>
</html>