<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MSI - Find film</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="js/film.js"></script>
    <link rel="stylesheet" href="css/film.css"></link>

</head>

<body onload="initializeFilmStorage()">
    <div class="container">
        <h1>Find a film</h1>
        <form name="filmForm" onsubmit="return addFilmStorage()" action="#" th:action="@{/result_film}" th:object="${media}" method="post">

            <fieldset class="form-fieldset ui-input __first" id="firstForm">
                <input type="text" name="title" id="title" th:field="*{title}" />
                <label for="title">
                    <span data-text="Title (Required)">Title</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __second">
                <input type="text" id="lang" maxlength="2" minlength="2" th:field="*{language}" />
                <label for="lang">
                    <span data-text="Language Code (ISO 369-1)">Language Code</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __third">
                <input type="number" id="year" th:field="*{year}" min="1800" placeholder="1984" />
                <label for="results">
                    <span data-text="Year of Release">Year of Release</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __fourth">
                <input type="number" id="results" th:field="*{maxResult}" min="1" max="100" placeholder="10" />
                <label for="results">
                    <span data-text="Max Number of Results">Max Number of Results</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __fifth">
                <b>ORDER BY</b>
                <select name="Order by: " th:field="*{orderBy}">
                    <option value="relevance">Relevance</option>
                    <option value="newest">Newest</option>
                </select>
            </fieldset>



            <div class="form-footer">
                <input type="submit" id="bottone" class="btn" value="Search"></input>
                <input type="reset" id="bottone" class="btn" value="Reset"></input>
            </div>

        </form>
        <div id="filmStorage"></div>
    </div>
</body>

</html>