<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MIS - Find game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> </meta>
    <script type="text/javascript" src="js/game.js"></script>
    <link rel="stylesheet" href="css/game.css"></link>
</head>

<body onload="initializeGameStorage()">
    <div class="container">
        <h1>Find a game</h1>
        <form action="#" onsubmit="return addGameStorage()" name="gameForm" th:action="@{/result_game}" th:object="${media}" method="post">

            <fieldset class="form-fieldset ui-input __first" id="firstForm">
                <input type="text" name="title" id="title" th:field="*{title}" />
                <label for="title">
                    <span data-text="Title">Title</span>
                </label>
            </fieldset>


            <fieldset class="form-fieldset ui-input __fourth">
                <input type="number" id="new-password" th:field="*{maxResult}" min="1" max="50" placeholder="10" />
                <label for="results">
                    <span data-text="Max Number of Results">Max Number of Results</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __fifth">
                <b>ORDER BY</b>
                <select name="Order by: " th:field="*{orderBy}">
                    <option value="popularity">Popularity</option>
                    <option value="release_dates.date:desc">Release date - descending </option>
                    <option value="release_dates.date:asc">Release date - ascending </option>
                    <option value="aggregated_rating:desc">Aggregated rating - descending </option>
                    <option value="aggregated_rating:asc">Average vote - ascending </option>
                </select>
            </fieldset>



            <div class="form-footer">
                <input type="submit" id="bottone" class="btn" value="Search"></input>
                <input type="reset" id="bottone" class="btn" value="Reset"></input>
            </div>


        </form>
        <br></br>
        <div id="gameStorage"></div>
    </div>
    <a href="/" class="float">
        <img src="home.svg" height="32" width="32" class="my-float" id="home"> </img>
    </a>
</body>

</html>