<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>MSI - Find book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript">
        function validate(){
            var x = document.forms["bookForm"]["bname"].value;
            var y = document.forms["bookForm"]["isbn"].value;
            if (x == "") {
                alert("Name must be filled out");
                return false;
            }

            if (isNaN(y)) {
                alert("ISBN must be a number");
                return false;
            }
            if (y.length!=13) {
                alert("ISBN is too short");
                return false;
            }


        }
    </script>
</head>
<body>
	<h1 style="color: #2e6c80;">Find a book</h1>
    <form name="bookForm" onsubmit="validate()" action="#" th:action="@{/result_book}" th:object="${media}" method="post">
    	<p><b>Title:</b> <input type="text" name="bname" th:field="*{title}" /></p>
        <p><b>ISBN (optional):</b> <input type="text" name="isbn" maxlength="13" th:field="*{ISBN}" /></p>
        <p><b>Order by:</b> <select name="Order by: " th:field="*{orderBy}">
            <option value="relevance">Relevance</option>
            <option value="newest">Newest</option>
        </select></p>
        <p><b>Max number of results (optional): </b> <input type="number" name="results" th:field="*{maxResult}" min="1" max="100"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
